.ld-calendar .modal .content-block {
    display: inline-block;
}
.ld-calendar .modal .value  {
    display: inline-table;
    width: 87%;
}
.ld-calendar .modal hr {
    border-top-color: #b4b4b4;
}
.modal-body [class*="icon-"]{
    color: #b4b4b4;
    padding: 0 10px 0 20px;
}
.popover-form [class*="icon-"]{
    color: #b4b4b4;
    padding: 0 10px 0 0;
}
.ld-calendar .btn-delete {
    float: right;
    font-size: 14px;
    padding-top: 7px;
    background: none;
}
.ld-calendar .btn-delete .icon-trash {
    font-size: 18px;
}
.ld-calendar .fc-event {
    cursor: pointer;
}
.ld-new-buttons a, .ld-new-buttons .custom-icon-new-homework    {
    font-size: 18px;
}
.popover-form   {
    width: 370px;
    padding: 20px;
}
/* agenda */
.ld-calendar .agenda-list {
    overflow: auto;
}
.ld-calendar .agenda-item {
    color: #4d4d4f;
    border-bottom: 1px solid #eee;
}
.ld-calendar .agenda-item span {
    display: block;
    font-size: 120%;
    font-weight: bold;
}
.ld-calendar .agenda-item .day {
    font-size: 150%;
}
.ld-calendar .agenda-item .time {
    font-weight: normal;
    font-size: 100%;
}

