.ld-classes .homework .item {
    margin: 3px;
    box-sizing: border-box;
}
.ld-classes-timetable th, .ld-classes-timetable td{
    text-align: center;
}
.ld-classes .homework table {
    min-width: 100%
}
.ld-classes .homework .status-header {
    background: #E6E7E8
}

