.ld-classes .homework .item {
    margin: 3px;
    box-sizing: border-box;
}
.ld-classes .homework .item .title {
    display: block;
}
.ld-classes .homework .item .date {
    float: right;
}
.ld-classes-timetable th, .ld-classes-timetable td{
    text-align: center;
}
