.ld-classes .class-item {
    margin-bottom: 30px;
    cursor: pointer;
}
.ld-classes .thumb-classes {
    min-height: 70px;
    background-color: #e6e7e8;
    border-radius: 5px;
    padding: 4.5%;
    margin-bottom: 10px;
}
.ld-classes .thumb-classes img {
    max-width: 100%;
}
.ld-classes .class-item p {
    margin: 0;
    margin-left: 4.5%;
    font-size: 16px;
    height: 25px;
    overflow: hidden;
}

.ld-classes .classes .class-item .icon-group {
    float: left;
    padding-left: 10px;
    font-size: 50px;
}
.ld-classes .classes .class-item .subject {
    font-size: 14px;
}
.ld-classes .classes .class-item .extra-info {
    font-size: 80%
}
.ld-classes .homework .item {
    margin: 3px;
    box-sizing: border-box;
}
.ld-classes-timetable th, .ld-classes-timetable td {
    text-align: center;
    vertical-align: top;
}
.ld-classes .homework table {
    min-width: 100%
}
.ld-classes .homework .status-header {
    background: #E6E7E8
}
/* view homework */
.ld-classes .view-all {
    color: #ff9e19;
    float: right;
    font-size: 14px;
    padding-top: 7px;
    background: none;
    padding-right: 50px;
}
.ld-classes .view-all .custon-icon-homework {
    font-size: 18px;
}

