.dashboard .ld-box {
    position: relative;
    float: left;
    overflow: hidden;
    height: 375px
}

@media screen and (max-width: 767px) {
    .dashboard .ld-box {
        width: 99%;
        margin-bottom: 15px;
        height: auto;
    }
    .dashboard .ld-box:nth-child(1) {
        height: 500px;
    }
}
@media screen and (min-width: 768px) {
    .dashboard .ld-box:nth-child(1) {
        width: 66%;
        height: 500px;
        margin: 0 5px 0px 0;
    }
    
    .dashboard .ld-box:nth-child(2) {
        width: 33%;
        height: 375px;
        margin-bottom: 15px;
    }

    .dashboard .ld-box:nth-child(3) {
        width: 33%;
        height: 500px;
    }

    .dashboard .ld-box:nth-child(4) {
        width: 32.9%;
        margin-top: -374px;
        height: auto;
    }

    .dashboard .ld-box:nth-child(5) {
        width: 32.5%;
        margin: 0px 5px 5px 5px;
        margin-top: -374px;
        height: auto;
    }
}

.dashboard .ld-box .ld-box-head .title {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    cursor: pointer;
}

.dashboard .ld-box .ld-box-head .title span  {
    margin-right: 15px;
}

.dashboard .ld-box .ld-box-head .title h2 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.dashboard .ld-box .ld-box-child {
    background-color: #f6f6f6;
    width: auto;
    height: 100%
}


.dashboard .ld-box .ld-box-child ul li {
    border-bottom: #d1d3d4 solid 1px;
    padding: 10px 10px 10px 45px;
    font-size: 12px;
}
.dashboard .ld-box ul li:last-child {
    border: none;
}
.dashboard .ld-box ul li:hover {
    background-color: #f0f2f2;
}


/*------dashboard------*/
/*homework*/
.dashboard .ld-homework.ld-box .ld-box-child {
    height: 335px;
    overflow-y: auto;
}

.dashboard .ld-homework.ld-box .ld-box-child ul {
    padding-bottom: 0px;
}

.dashboard .ld-homework.ld-box .ld-box-child ul li {
    padding: 10px;
}

.dashboard .ld-homework.ld-box .ld-box-child ul li p {
    margin: 0px;
    display: inline;
    margin-left: 5px;
    color: #4d4d4f;
}

.dashboard .ld-homework.ld-box .ld-box-child ul li .btn-icon {
    display: inline-block;
    line-height: 15px;
}

.dashboard .ld-homework.ld-box .ld-box-child ul li .due-date {
    color: #dadada;
    display: block;
    text-align: right;
}

.dashboard .ld-homework.ld-box .ld-box-child ul li .due-date.overdue {
    color: #ff9e19;
}
.dashboard .ld-homework.ld-box .ld-box-child ul li .due-date-icon:before {
    font-family: FontAwesome;
    content: "\f017";
}
.dashboard .ld-homework.ld-box .ld-box-child ul li .due-date.overdue .due-date-icon:before {
    font-family: FontAwesome;
    content: "\f071";
}

.dashboard-homework .tooltip-inner {
    background-color: #ff9e19;
    margin-right: 5px;
}

.dashboard-homework .tooltip.top .tooltip-arrow {
    border-top-color: #ff9e19;
}

/* messages */
.dashboard .messages .ld-box-child ul li {
    border-bottom: #d1d3d4 solid 1px;
    padding: 10px 10px 10px 45px;
    font-size: 12px;
    position: relative;
    padding-left: 65px;

}
.dashboard .messages .ld-box-child ul li:last-child {
    border: none;
}

.dashboard .messages .ld-box-child ul li p {
    margin 0;
}

.dashboard .messages .ld-box-child badge {
    background: #fff;
    color: #10a236;
    font-size: 14px;
    padding: 7px 4px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    margin-top: 2px;
    width: 25px;
    height: 25px;
}

.dashboard .messages .ld-box-child .label {
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    background: #939598;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -18px;
    padding-top: 9px;
}

.dashboard .messages .ld-box-child .unread {
    font-weight: bold;
}

/* events */
.dashboard .ld-box.ld-events .ld-box-head .title {
    padding: 0;
}
#dashboard-events .table-events {
    border-width: 1px 0 0;
    table-layout: fixed;
}
#dashboard-events .table-events td {
    padding: 13px 15px !important;
}
#dashboard-events .table-events td:first-child {
    font-weight: normal;
    text-align: left;
    border-right: 1px solid #D1D3D4;
}
#dashboard-events .table-events td.single-date-cell {
    text-align: center;
    border-right:none;
}
#dashboard-events .table-events td:last-child {
    vertical-align: middle;
    font-weight: bold;
}
#dashboard-events .table-events td span{
    padding-left: 0;
    padding-right: 0;
}

/* notices */
.dashboard .ld-notices .ld-box-child {
    height: 335px;
    overflow-y: auto;
}

#dashboard-notices {
    height: 100%;
}
.dashboard .note  {
    padding: 15px;
    padding-bottom: 0;
    height: 30%;
    overflow: auto;
}
.dashboard .note:first-child {
    height: 40%
}
.dashboard .note p {
    font-size: 12px;
    margin-top: 0;
    white-space: pre-line;
}
.dashboard .note p:first-line {
    font-size: 14px;
    color: #0ba6d3;
    font-weight: 600;
    clear: both;
}
.dashboard .note:first-child p:first-line {
    font-size: 20px;
    font-weight: bold;
}
.dashboard .note span {
    font-size: 26px;
    color: #0ba6d3;
    display: block;
    float: left;
    margin: 5px 10px 0 0;
}




