@font-face {
	font-family: 'custom';
	src:url('../font/custom.eot');
	src:url('../font/custom.svg');
	src:url('../font/custom.ttf');
	src:url('../font/custom.woff');
	font-weight: normal;
    font-style: normal;
}

[class*="custon-icon-"] {
	font-family: 'custom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.custon-icon-events:before {
	content: "\e600";
}
.custon-icon-timetable:before {
	content: "\e605";
}
.custon-icon-notices:before {
	content: "\e603";
}
.custon-icon-homework:before {
	content: "\e604";
}
.custon-icon-ebooks:before {
	content: "\e602";
}
