.ld-homework .subheader {
    font-weight: 100;
    padding: 10px 0 10px 0;
    font-size: 20px;
    margin: 0;
}

.ld-homework .nav ul li a {
    width: 25%;
    height: 60px;
    float: left;
    text-align: center;
    font-size: 18px;
    padding: 18px 0 0;
    font-weight: 300;
}

.ld-homework .nav ul li a {
    color: #fff;
}
.ld-homework .nav ul li a:hover {
    text-decoration: none;
    border-bottom: #760900 solid 5px;
    background-color: #760900;
}
.ld-homework .nav ul li.bt-new a {
    border-bottom: #a30c00 solid 5px;
    background-color: #a30c00;
}

.ld-homework .nav ul li.bt-new :hover {
    border-bottom: #760900 solid 5px;
    background-color: #760900;
}
.ld-homework .nav ul li.bt-new .custom-icon-new-homework {
    margin-right: 10px;
}

.ld-homework .nav.status .btn-all a,
.ld-homework .nav.status0 .bt-to-do a,
.ld-homework .nav.status1 .bt-in-progress a,
.ld-homework .nav.status2 .bt-complete a,
.ld-homework .nav.status3 .btn-reviewed a{
    border-bottom: #a30c00 solid 5px;
}

.ld-homework .nav.status .btn-all :hover,
.ld-homework .nav.status0 .bt-to-do :hover,
.ld-homework .nav.status1 .bt-in-progress :hover,
.ld-homework .nav.status2 .bt-complete :hover,
.ld-homework .nav.status3 .btn-reviewed :hover {
    border-bottom: #760900 solid 5px;
}

.ld-homework .table [class*="btn-"] {
    display: none;
}
.ld-homework .table .btn-review-many {
    display: inline-block;
    padding: 4px 12px;
    margin-top: -5px;
    background: #830c00;
}

.ld-homework .table thead > tr > th {
    border-bottom: none;
    vertical-align: bottom;
    background-color: #eceded;
}

.ld-homework .table th[colspan="2"], .ld-homework .table th[colspan="7"] {
    text-align: center;
}

.ld-homework .table th[rowspan="2"] {
    vertical-align: middle;
}
.ld-homework .table .btn-remove, .ld-homework .table .to-do .btn-pending, .ld-homework .table .in-progress .btn-edit, .ld-homework .table .in-progress .btn-submit, .ld-homework .table .complete .btn-review, .ld-homework .table .reviewed .btn-review, .teacher .ld-homework .btn-edit, .teacher .ld-homework .btn-review, .teacher .ld-homework .btn-download {
    display: block;
    float: left;
}
.ld-homework .table .tooltip-inner {
    background-color: #ff9e19;
    margin-right: 5px;
}

.ld-homework .table .collapse td, .ld-homework .table .collapsing td, .ld-homework .table .in td {
    border-top: none;
    background-color: #FFF9F0;
    padding: 10px 50px 10px 220px;
}
.ld-homework .table .collapse-toggle {
    cursor: pointer;
}
.ld-homework .table .collapse-toggle span.collapse-icon {
    padding-right: 5px;
    color: #414042;
}

.ld-homework .homework-subheader {
    margin: 30px 0;
}

.ld-new-buttons a {
    margin-right: 10px;
}
.ld-new-buttons span {
    margin-right: 5px;
    font-size: 16px;
}
.ld-new-buttons span.icon-ok-circle {
    font-size: 18px;
    line-height: 10px;
}
.ld-student-status a {
    display: block;
    padding: 3px;
    width: 25px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
}

/* Paginator */
.paginator.homework a {
    color: #ff9e19;
}
.paginator.homework .this-page a {
    color: #fff;
    background-color: #a30c00;
    cursor: default;
}
