/*      Small devices Tablets (≥768px).
 -----------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
    .sidebar {
        display: block;
        background: #E6E7E8;
    }
    .collapse {
        display: block;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-nav, .navbar-nav > li, .navbar-brand {
        float: none;
    }
}

/*      Extra small devices Phones (<768px).
 ---------------------------------------------*/

@media only screen and (max-width: 767px) {
    .collapse {
        /*display: block;*/
    }
    .sidebar {
        background: #E6E7E8;
        padding: 0 0 20px;
    }
    .tb-user {
        margin-right: -10px;
    }
    .name-school {
        font-size: 12px;
    }
    .user-profile-actions {
        display: none;
        margin: 20px 0 0;
        position: absolute;
        z-index: 1;
        margin: 0 0 0 55px;
        padding: 30px;
        background: #ECECEC;
    }
    .btn-profile-actions {
        font-size: 18px;
        margin-left: 10px;
    }
    .schoolbag-brand {
        width: 100%;
        padding: 10px 0;
    }
    .schoolbag-brand img {
        width: 35%;
    }
    .user-profile {
        width: 100%;
        padding: 10px 5%;
        background-color: #ececec;
        position: relative;
    }
    .user-profile img {
        max-width: 70%;
        height: auto;
    }

    .navbar-nav {
        margin: 0;
    }
    .navbar-toggle {
        background-color: #e5e7e8;;
        border: none;
        border-radius: 0;
        float: right;
        margin: 10px 0 0;
        padding: 0;
        position: static;
        font-size: 24px;
    }
    .form-search input {
        margin: 20px auto;
    }
    .navbar-nav > li {
        width: 30%;
        float: left;
        margin-bottom: 3%;
    }
    .navbar-nav > li:nth-child(3n+2) {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .navbar-nav > li:nth-child(3n+1) {
        margin-left: 2.5%;
    }
    .navbar-nav > li a, .navbar-nav > li a:hover {
        color: #fff;
        border: none;
        min-height: 75px;
        text-align: center;
        font-size: 12px;
    }
    .navbar-nav > li a, .navbar-nav > li a:hover, .navbar-nav > li a.active {
        padding: 20px 0;
    }
    .navbar-nav > li a span {
        font-size: 18px;
        width: 100%;
        display: block;
        color: #FFFFFF !important;
        float: none;
    }
    .navbar-nav > li a:hover span, .navbar-nav > li.active span {
        color: #FFFFFF !important;
    }
    .navbar-nav > li.dashboard a {
        position: relative;
    }
    .navbar-nav > li.dashboard a, .navbar-nav > li.dashboard.active a {
        background-color: #fff;
        color: #414042;
        border: none;
        padding: 20px 0;
    }
    .dashboard .custom-icon-dash-top {
        margin-left: -11px;
    }
    .navbar-nav > li.homework a {
        background-color: #ff9e19;
    }
    .navbar-nav > li.messages a {
        background-color: #10a236;
    }
    .navbar-nav > li.notices a {
        background-color: #0ba6d3;
    }
    .navbar-nav > li.events a {
        background-color: #9752a3;
    }
    .navbar-nav > li.timetable a {
        background-color: #dc3b42;
    }
    .navbar-nav > li.classes a {
        background-color: #ff0097;
    }
    .navbar-nav > li.ebooks a {
        background-color: #898c27;
    }
    .navbar-nav > li.journal a {
        background-color: #731a12;
    }
    .navbar-nav > li.copies a {
        background-color: #9299ce;
    }
    .navbar-nav > li.resources a {
        background-color: #438c76;
    }
    .navbar-nav > li.policies a {
        background-color: #939598;
    }

}