@media only screen and (max-width: 991px) {
    /*HEADER*/
    .sidebar .collapse {
        display: none;
    }
    .nav-collapse, .nav-collapse.in {
        clear: both;
        overflow: hidden;
    }
    .sidebar {
        background: #E6E7E8;
        padding: 10px 0 20px;
    }
    .user-profile {
        width: 40%;
        padding: 10px 2.5%;
        margin: 0 0 0 57.5%;
        background-color: none;
        position: relative;
        overflow: visible;
    }
    .user-profile img {
        max-width: 70%;
        height: auto;
    }

    .tb-user {
        margin-right: -10px;
    }
    .name-school {
        font-size: 12px;
    }
    .user-profile-actions {
        display: none;
        margin: 20px 0 0;
        position: absolute;
        z-index: 1;
        margin: 0 0 0 55px;
        padding: 30px;
        background: #ECECEC;
    }
    .btn-profile-actions {
        font-size: 18px;
        margin-left: 10px;
        background: none;
    }
    .schoolbag-brand {
        width: 20%;
        padding: 10px 0;
        margin: 0 0 0 2.5%;
        float: left;
    }
    .schoolbag-brand img {
        width: 100%;
    }

    /*NAVBAR - MEGAMENU*/

    /*INPUT SEARCH*/
    .form-search {
        margin: 20px auto !important;
        width: 95% !important;
    }

    .navbar-nav {
        margin: 0;
        float: none;
    }
    .navbar-toggle {
        background-color: #e5e7e8;;
        border: none;
        border-radius: 0;
        float: right;
        margin: 10px 0 0;
        padding: 0;
        position: static;
        font-size: 24px;
        display: block;
    }
    .navbar-nav > li {
        width: 21.8%;
        float: left;
        margin-bottom: 3%;
        margin-left: 2.5%;
    }
    .navbar-nav > li a, .navbar-nav > li a:hover {
        padding: 20px 0;
        color: #fff;
        border: none;
        min-height: 100px;
        text-align: center;
        font-size: 16px;
    }
    .navbar-nav > li.active a {
        border: none;
        padding-left: 0;
    }
    .navbar-nav > li a span {
        font-size: 32px;
        width: 100%;
        display: block;
        color: #FFFFFF !important;
        float: none;
        margin-bottom: 20px;
    }
    .navbar-nav > li a span[class*="custom-icon-"] {
        font-size: 34px;
    }
    .navbar-nav > li a:hover span, .navbar-nav > li.active span {
        color: #FFFFFF !important;
    }
    .navbar-nav > li.dashboard a {
        position: relative;
    }
    .navbar-nav > li.dashboard a, .navbar-nav > li.dashboard.active a {
        background-color: #fff;
        color: #414042;
        border: none;
        padding: 20px 0;
    }

    /*BUTTONS COLORS*/
    .dashboard .custom-icon-dash-top {
        margin-left: -20px;
        margin-bottom: 0;
    }
    .navbar-nav > li.homework a {
        background-color: #ff9e19;
    }
    .navbar-nav > li.messages a {
        background-color: #10a236;
    }
    .navbar-nav > li.notices a {
        background-color: #0ba6d3;
    }
    .navbar-nav > li.events a {
        background-color: #9752a3;
    }
    .navbar-nav > li.timetable a {
        background-color: #dc3b42;
    }
    .navbar-nav > li.classes a {
        background-color: #ff0097;
    }
    .navbar-nav > li.ebooks a {
        background-color: #898c27;
    }
    .navbar-nav > li.journal a {
        background-color: #731a12;
    }
    .navbar-nav > li.copies a {
        background-color: #9299ce;
    }
    .navbar-nav > li.resources a {
        background-color: #438c76;
    }
    .navbar-nav > li.policies a {
        background-color: #939598;
    }

    /*FORMs / INPUT*/
    .form-control, input[type='text'], form textarea {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*      Small devices Tablets (≥768px).
 -----------------------------------------------------------------*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/*      Extra small devices Phones (<768px).
 ---------------------------------------------*/

@media only screen and (max-width: 767px) {

    /*HEADER*/
    .sidebar {
        padding-top: 0;
    }
    .user-profile {
        width: 100%;
        padding: 10px 2.5%;
        margin: 0;
        background-color: #ececec;
        position: relative;
    }
    .user-profile img {
        max-width: 70%;
        height: auto;
    }

    .tb-user {
        margin-right: -10px;
    }
    .name-school {
        font-size: 12px;
    }

    .btn-profile-actions {
        font-size: 18px;
        margin-left: 10px;
    }

    .schoolbag-brand {
        width: 100%;
        padding: 10px 0;
        margin: 0;
        display: block;
        text-align: center;
        float: none;
    }
    .schoolbag-brand img {
        width: 35%;
    }

    .schoolbag-brand-login {
        display: block;
        margin: 25px auto 0;
        text-align: center;
    }

    .user-profile {
        width: 100%;
        padding: 10px 5%;
        background-color: #ececec;
        position: relative;
    }
    .user-profile img {
        max-width: 70%;
        height: auto;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-toggle {
        font-size: 24px;
    }

    .navbar-nav > li {
        width: 30%;
        margin-bottom: 3%;
    }
    .navbar-nav > li:nth-child(3n+2) {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .navbar-nav > li:nth-child(3n+1) {
        margin-left: 2.5%;
    }
    .navbar-nav > li a, .navbar-nav > li a:hover {
        min-height: 75px;
        font-size: 12px;
    }
    .navbar-nav > li a span {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .navbar-nav > li a span[class*="custom-icon-"] {
        font-size: 18px;
    }

    .dashboard .custom-icon-dash-top {
        margin-left: -11px;
    }

    /*Login*/
    .col-login {
        padding-left: 0;
    }
}