.ld-notices .form .radio-box {
    height: auto;
}
.ld-notices .form .radio-box label {
    font-weight: normal;
}
.ld-notices .ld-tree span.collapse {
    display: none;
}
.ld-notices .ld-tree {
    display: inline-block;
    color: #a2a2a2;
    border: solid 1px #f2f2f2;
}
.ld-notices .ld-tree > label {
    display: block;
}
.ld-notices .ld-branch {
    margin-left: 8px;
    float: left;
    padding: 0 10px;
}
.ld-notices .ld-leaf {
    margin-left: 15px;
    display: block;
}

/* Notices Page */
.notice-page .note div img {
    max-width: 90%;
    height: auto;
    margin: 10% auto 0;
    display: block;
}
.notice-page {
    margin: 0 0 10px;
    padding: 20px 20px 0 0 ;
    color: #6d6e71;
    min-height: 190px;
    width: 33.3333%;
    float: left;
}
.notice-page .note{
    min-height: 230px;
}
.notice-page-show   {
    width: 100%!important
}
.note {
    padding:20px;
    border: solid 1px #cad3e2;
}
.notice-page:nth-child(2) {
    width: 66.66666%;
}
.notice-page:nth-child(2) .note,
.notice-page:nth-child(3) .note {
    min-height: 420px;
}   
.notice-page .date, .notice-page .author {
    font-size: 14px;
    color: #6d6e71;
    font-weight: 100;
}
.notice-page .message {
    margin-top: 20px;
}
.notice-page p:first-line {
    font-size: 24px;
    color: #0ba6d3;
    font-weight: 600;
    clear: both;
}


.btn-group  {

}
