.ld-notices .form .radio-box {
    height: auto;
}
.ld-notices .form .radio-box label {
    font-weight: normal;
}
.ld-notices .note .ld-notice-icon:before, .ld-notices .note.general .ld-notice-icon:before {
    font-family: FontAwesome;
    content: "\f02e";
}
.ld-notices .note.Thanks .ld-notice-icon:before, .ld-notices .note.thanks .ld-notice-icon:before {
    font-family: FontAwesome;
    content: "\f164";
}
.ld-notices .note.Thanks .ld-notice-icon, .ld-notices .note.thanks .ld-notice-icon {
    color: #898C27;
}
.ld-notices .note.Meeting .ld-notice-icon:before, .ld-notices .note.meting .ld-notice-icon:before {
    font-family: FontAwesome;
    content: "\f0b1";
}
.ld-notices .note.Meeting .ld-notice-icon, .ld-notices .note.meting .ld-notice-icon {
    color: #10A236;
}
.ld-notices .note.Sport .ld-notice-icon:before, .ld-notices .note.sport .ld-notice-icon:before {
    font-family: FontAwesome;
    content: "\f11e";
}
.ld-notices .note.Sport .ld-notice-icon, .ld-notices .note.sport .ld-notice-icon {
    color: #9752A3;
}
.ld-notices .note.Announcements .ld-notice-icon:before, .ld-notices .note.announcements .ld-notice-icon:before {
    font-family: FontAwesome;
    content: "\f0a1";
}
.ld-notices .note.Announcements .ld-notice-icon, .ld-notices .note.announcements .ld-notice-icon {
    color: #DC3B42;
}
.ld-notices .note.celebration .ld-notice-icon:before, .ld-notices .note.Celebration .ld-notice-icon:before {
    font-family: FontAwesome;
    content: "\f091";
}
.ld-notices .note.celebration .ld-notice-icon, .ld-notices .note.Celebration .ld-notice-icon {
    color: #FF0097
}
.ld-notices .note.After .ld-notice-icon:before, .ld-notices .note.after .ld-notice-icon:before {
    font-family: FontAwesome;
    content: "\f186";
}
.ld-notices .note.After .ld-notice-icon, .ld-notices .note.after .ld-notice-icon {
    color: #FF9E19;
}

/*create notice*/
.ld-notices .ld-tree span.collapse {
    display: none;
}
.ld-notices .ld-tree {
    display: inline-block;
    color: #a2a2a2;
    margin: 10px 0 20px;
}

.ld-notices .ld-tree > label {
    display: block;
}
.ld-notices .ld-branch {
    margin: 3px 5px;
    float: left;
    font-size: 10px;
    width: 20%;
    height: 50px;
}
.ld-notices .ld-branch label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3px;
}
.ld-notices .ld-leaf {
    margin: 5px 0 0 10px;
    display: block;
}
/* view upcoming notices */
.ld-notices .user-notices .btn-icon {
    float: left;
}
.ld-notices .user-notices .btn-icon.btn-delete {
    padding-top: 3px;
}

/* delete notice */
.ld-notices form .btn-delete {
    float: right;
    font-size: 14px;
    padding-top: 7px;
    background: none;
    padding-right: 50px;
}
.ld-notices .btn-delete .icon-trash {
    font-size: 18px;
}
/* List page - all 5 notices */
.notice-space {
    margin: 0 0 10px;
    padding: 20px 20px 0 0;
    color: #6d6e71;
    min-height: 190px;
    width: 33.3333%;
    float: left;
}
.notice-space .note {
    height: 200px;
}

.note {
    padding: 20px;
    border-bottom: solid 1px #cad3e2;
    position: relative;
}
.notice-space:last-child .note {
    border-bottom: none;
}
.notice-space:first-of-type {
    width: 66.6667%;
}

.notice-space:first-of-type .note, .notice-space:nth-child(2) .note {
    height: 300px;
}
.notice-space .date, .notice-space .author, .notice-page-show .date, .notice-page-show .author {
    font-size: 14px;
    color: #6d6e71;
    font-weight: 100;
}
.notice-space .message {
    margin-top: 5px;
    font-size: 12px;
    height: 95px;
}
.note .message .text {
    white-space: pre-line;
}
.notice-space p:first-line {
    font-size: 16px;
    font-weight: bold;
    clear: both;
    line-height: 24px;
}
.notice-space:first-of-type p:first-line {
    font-size: 24px;
    line-height: 45px;
}
.notice-space:first-of-type .message {
    margin: 5px 0 20px;
}

.notice-space:first-of-type .message, .notice-space:nth-child(2) .message {
    height: 185px;
}

.notice-space .btn-group {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.notice-space a {
    display: block;
    float: left;
}
/* view user notices  */
table.user-notices {
    table-layout: fixed;
    width: 95%;
    margin: 0 20px;
}
.user-notices tr {
    border-bottom: 1px solid #d5d5d5;
}
.user-notices tr.expired {
    background-color: #d5d5d5;
    color: #e3e3e3;
}
table.user-notices tbody tr.active td {
    border: none;
}
.user-notices tr.pending {
    background-color: #999;
    color: #fff;
}
table.user-notices tbody tr td {
    padding: 0 2px;
}
table.user-notices tbody tr td.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Rules for icons and categorys */
.message span:first-of-type {
    float: left;
    margin: 0 15px 0 0;
    font-size: 48px;
}
.notice-space:first-of-type .message span:first-of-type {
    font-size: 100px;
    line-height: 100px;
}
.notice-space:nth-child(2) .message span:first-of-type {
    font-size: 60px;
    margin-top: 3px;
}

/* Show page */
.notice-space.notice-page-show {
    width: 100% !important;
    padding: 20px;
}
.notice-space.notice-page-show .icon-download {
    font-size: 40px;
}
.notice-page-show {
    border: none;
}
.notice-page-show .message {
    margin-top: 20px;
    line-height: 24px;
}
.notice-page-show .message span:first-child {
    font-size: 75px;
    line-height: 75px;
}

