.pink a {
    color: #ff0097;
}
.pink h1, .pink .btn-icon, .pink .btn, .pink.ld-box .ld-box-head .title, .pink .uploader .action, .pink header, .pink .tooltip-inner, .pink .ld-student-status a {
    background-color: #ff0097;
}
.pink .btn-icon:hover, .pink .btn:hover {
    background-color: #ed037c;
}

.pink .form-control:focus {
    border-color: #ff0097;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 151, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 151, 0.6);
}
.pink .modal-title  {
    border-color: #ff0097;
}

/* tooltip border arrow */
.pink .tooltip.top .tooltip-arrow {
  border-top-color: #ff0097;
}


/* Checkbox */
.pink div.ld-CheckClass span {
    background-position: 0 -170px;
}
.pink div.ld-CheckClass span.checked {
    background-position: -30px -170px;
}
.pink div.ld-CheckClass.hover span {
    background-position: -60px -170px;
}
.pink div.ld-CheckClass.hover span.checked {
    background-position: -30px -170px;
}

/* Radio */
.pink div.ld-RadioClass span {
    background-position: 0 -200px;
}
.pink div.ld-RadioClass span.checked {
    background-position: -30px -200px;
}
.pink div.ld-RadioClass.hover span {
    background-position: -60px -200px;
}
.pink div.ld-RadioClass.hover span.checked {
    background-position: 0 -200px;
}