.purple .btn-icon, .purple .btn, .purple.ld-box .ld-box-head .title, .purple .tooltip-inner, .purple header {
    background-color: #9752a3;
}
.purple.btn-icon:hover, .purple .btn:hover {
    background-color: #7f3f98;
}

.purple .form-control:focus {
    border-color: #9752a3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(151, 82, 163, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(151, 82, 163, 0.075);
}

.purple .modal-title, .purple .header, .purple h1 {
    border-color: #9752a3;
}

.purple .tooltip.top .tooltip-arrow {
    border-top-color: #9752a3;
}