/*.red a,*/ .ld-timetable .table.week td .class-code, .red .ld-new-buttons a, .red .ld-new-buttons .custom-icon-new-homework {
    color: #DC3B42 
}

.red h1, .red .tooltip-inner, .red .ld-student-status a, .red .btn-icon, .red .btn, .red.ld-box .ld-box-head .title, .red header, .red .uploader .action {
    background-color: #dc3b42;
}

/* hover background */
.red .btn-icon:hover, .red .btn:hover {
    background-color: #c62433;
}

.red .form-control:focus {
    border-color: #dc3b42;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(229,36,45, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(229,36,45, 0.075);
}
.red .modal-title {
    border-color: #dc3b42;
}

/* Checkbox */
.red div.ld-CheckClass span {
    background-position: 0 -348px;
}
.red div.ld-CheckClass span.checked {
    background-position: -30px -348px;
}
.red div.ld-CheckClass.hover span {
    background-position: -60px -348px;
}
.red div.ld-CheckClass.hover span.checked {
    background-position: -30px -348px;
}

/* Radio */
.red div.ld-RadioClass span {
    background-position: 0 -379px;
}
.red div.ld-RadioClass span.checked {
    background-position: -30px -379px;
}
.red div.ld-RadioClass.hover span {
    background-position: -60px -379px;
}
.red div.ld-RadioClass.hover span.checked {
    background-position: 0 -379px;
}
