@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}
.row .row {
    margin-left: -5px;
    margin-right: -5px;
}
ul {
    list-style: none;
    padding: 0;
}
*, a {
    outline: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}
a:hover, a:focus {
    color: #2A6496;
    text-decoration: none;
}
.notice-home ul li, .nav-homework ul li.bt-new a, .nav-timetable-btn-prev span, .nav-timetable-btn-next span {
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #414042;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
h1, .h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 30px 0;
    border-bottom: 5px solid #000000;
}

h2, .h2 {
    font-size: 24px;
}

h3, .h3 {
    font-size: 20px;
}

h4, .h4 {
    font-size: 16px;
}

/* ICONS - DEFAULT */
.btn-icon {
    width: 21px;
    height: 21px;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: inherit;
    vertical-align: middle;
}
.btn-icon:hover {
    color: #fff;
}
.icon-download {
    font-size: 18px;
}
.icon-caret-right {
    font-size: 20px;
    padding-left: 3px;
}

span.btn-icon {
    background-color: #d9d9d9;
}
span.btn-icon:hover {
    background-color: #b1b1b1;
}

/* Default Margin / Padding */
.mtop-20 {
    margin-top: 20px;
}
.mbottom-20 {
    margin-bottom: 20px;
}

.btn {
    min-width: 180px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    margin-right: 5px;
}
.btn:hover, .btn:focus {
    color: #fff;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:-moz-placeholder {
    color: #a2a2a2
}
.form-control::-moz-placeholder {
    color: #a2a2a2
}
.form-control:-ms-input-placeholder {
    color: #a2a2a2
}
.form-control::-webkit-input-placeholder {
    color: #a2a2a2
}

span.customSelect {
    font-size: 14px;
    background: #fff url(http://i48.tinypic.com/2u7rpec.png) right center no-repeat;
    color: #d1d3d4;
    padding: 7px 9px;
    width: 175px;
}

.badge {
    background-color: #525353;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    float: right;
    font-size: 10px;
    font-weight: bold;
    margin: 10px;
    min-width: 20px;
    padding: 5px 4px;
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 1;
}

.btn-toolbar {
    background-color: gray
}

.btn-toolbar .btn {
    min-width: auto;
    color: black;
}

/*//////MODAL//////*/

.modal-header {
    border-bottom: none;
    padding: 30px 0 0 5%;
}
.modal-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
}
.modal-body p {
    margin-top: 15px;
}
.modal-content {
    border-radius: 0px;
    background-color: #f2f2f2;
}

.modal-footer {
    border-top: none;
    text-align: left;
    padding-bottom: 5%;
    padding-left: 5%;
}
.modal-title {
    padding-left: 15px;
    border-left: 3px black solid;
    font-size: 20px;
    font-weight: 100;
}

.modal-calendar .modal-title {
    border-left-color: #9752a3;
}


/*//////MEDIA//////*/
@media screen and (min-width: 768px) {
    .sidebar .container {
        display: block;
        background: #E6E7E8;
    }
    .collapse {
        display: block; 
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-toggle:after {
        font-family: "fontawesome";
        content: "\f150";
    }
    .navbar-nav, .navbar-nav > li, .navbar-brand {
        float: none;
    }
}

@media screen and (max-width: 767px) {
    .sidebar .container {
        display: block;
+        background: #E6E7E8;
}
    .navbar-toggle {
        display: none;
    }
}

/*//////DEFAULT TABLE//////*/
.table {
    border-collapse: separate;
    border-spacing: 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 0;
    border: #eceded solid 1px;
    border-top: 0;
    font-size: 14px;
    background-color: #f6f6f6;
    margin-bottom: 5px;
}
.table > tbody > tr.active > td, .table tr.active, .table tr.active td {
    background-color: #e6e7e8;
}
.table thead > tr > th {
    border-bottom: none;
}
table > tbody > tr.active td:first-child {
    border: #d1d3d4 solid;
    border-width: 2px 1px 2px 2px
}
table > tbody > tr.active td:last-child {
    border: #d1d3d4 solid;
    border-width: 2px 2px 2px 0;
}
.table tr:hover {
    background-color: #f0f2f2;
}

.table tbody > tr > td, .table thead > tr > th {
    padding: 20px 10px;
}

.table .collapse {
    display: none;
}

.table .homework-collapse span.collapse-icon {
    padding-right: 5px;
    color: #414042;
}

.table .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.1s ease;
    transition: height 0.1s ease;
}

.table > thead > tr > th.active {
    color: #676a74;
}

/*//////DEFAULT NAVIGATION ARROWS//////*/
.default-prev, .default-next, .ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    display: block;
    top: 8px;
    left: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.default-prev .icon-chevron-sign-left, 
.default-next .icon-chevron-sign-right,
.ui-icon.icon-chevron-sign-left,
.ui-icon.icon-chevron-sign-right    {
    font-size: 21px;
    color: #fff;
}


.default-next, .ui-datepicker-next {
    left: 100%;
    margin-left: -35px;
}
.ui-datepicker-prev, .ui-datepicker-next {
    top: 17px
}

/*//////SIDEBAR / MAIN MENU//////*/
.schoolbag-brand {
    text-align: center;
    display: block;
    padding: 20px 0;
}
.sidebar header {
    background: #E6E7E8;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.navbar-nav li a {
    color: #3a3a3a;
    padding-top: 18px;
    padding-bottom: 15px;
}
.navbar-nav > li a span {
    font-size: 16px;
    width: 40px;
    display: block;
    float: left;
}

.navbar-nav > li a:hover, .navbar-nav > li.active a {
    color: #fff;
    border-left: solid 5px;
    padding-left: 10px;
}
.navbar-nav > li a:hover span, .navbar-nav > li.active span   {
    color: #FFFFFF!important;
}
.navbar-nav > li.dashboard a {
    position: relative;
}
.navbar-nav > li.dashboard a:hover, .navbar-nav > li.dashboard.active a {
    background-color: #fff;
    color: #414042;
    border-color: #666562;
}
.navbar-nav > li.homework a span {
    color: #ff9e19;
}
.navbar-nav > li.homework a:hover, .navbar-nav > li.homework.active a {
    background-color: #ff9e19;
    border-color: #a30c00;
}
.navbar-nav > li.messages a span{
    color: #10a236;
}
.navbar-nav > li.messages a:hover, .navbar-nav > li.messages.active a {
    background-color: #10a236;
    border-color: #006228;
}
.navbar-nav > li.notices a span {
    color: #0ba6d3;
}
.navbar-nav > li.notices a:hover, .navbar-nav > li.notices.active a {
    background-color: #0ba6d3;
    border-color: #00637f;
}
.navbar-nav > li.events a span {
    color: #9752a3;
}
.navbar-nav > li.events a:hover, .navbar-nav > li.events.active a {
    background-color: #9752a3;
    border-color: #5a2a60;
}
.navbar-nav > li.timetable a span {
    color: #dc3b42;
}
.navbar-nav > li.timetable a:hover, .navbar-nav > li.timetable.active a {
    background-color: #dc3b42;
    border-color: #821a1e;
}
.navbar-nav > li.classes a span {
    color:#ff0097;
}
.navbar-nav > li.classes a:hover, .navbar-nav > li.classes.active a {
    background-color: #ff0097;
    border-color: #8d0054;
}
.navbar-nav > li.ebooks a span {
    color: #898c27;
}
.navbar-nav > li.ebooks a:hover, .navbar-nav > li.ebooks.active a {
    background-color: #898c27;
    border-color: #545a1b;
}
.navbar-nav > li.journal a span {
    color: #731a12;
}
.navbar-nav > li.journal a:hover, .navbar-nav > li.journal.active a {
    background-color: #731a12;
    border-color: #3b0000;
}
.navbar-nav > li.copies a {
    color: #9299ce;
}
.navbar-nav > li.copies a:hover, .navbar-nav > li.copies.active a {
    background-color: #9299ce;
    border-color: #575a7b;
}
.navbar-nav > li.resources a span {
    color:#438c76;
}
.navbar-nav > li.resources a:hover, .navbar-nav > li.resources.active a {
    background-color: #438c76;
    border-color: #215949;
}
.navbar-nav > li.policies a span {
    color: #939598;
}
.navbar-nav > li.policies a:hover, .navbar-nav > li.policies.active a {
    background-color: #939598;
    border-color: #575a5b;
    background-position: 13px -1081px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/*//////HEADER TITLE DEFAULT- ALL BOX HOME//////*/
.header-title, .ui-datepicker-header {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 15px;
}
.header-title span  {
    margin-right: 15px;
}
.header-title.header-events {
    padding: 0px;
}
.header-title h2, .ui-datepicker-header h2 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

/*//////DEFAULT LIST HOME//////*/
.box-messages .box-child ul li, .box-homework .box-child ul li {
    border-bottom: #d1d3d4 solid 1px;
    padding: 10px 10px 10px 45px;
    font-size: 12px;
}
.box-messages .box-child ul li:last-child, .box-homework .box-child ul li:last-child {
    border: none;
}
.notice-home ul li.star {
    background-position: -485px -90px;
}
.notice-home ul li.flag {
    background-position: -485px -28px;
}
.notice-home ul li.comment {
    background-position: -485px -145px;
}

/*//////NOTICES HOME//////*/
#dashboard-notices, .header-notices, .notice-home {
    height: 100%;
    overflow: hidden;
}
.header-notices {
    background-color: #0ba6d3;
}

.notice-home {
    border: #d1d3d4 solid 1px;
    height: 100%;
    padding: 5px;
}

.notice-home .note {
    padding: 0px 5px;
    float: none;
    border: solid 1px #cad3e2;
    height: 49%;
}

.notice-home .note:nth-child(1) {
    margin-bottom: 5px;
}

.notice-home .note:nth-child(2) {
    float: left;
    width: 48%;
}

.notice-home .note:nth-child(3) {
    float: right;
    width: 48%;
}

.notice-home .note h3 {
    color: #0ba6d3;
    padding: 10px;
    margin-top: 0px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice-home.missing-child .note:nth-child(2) {
    float: none;
    width: auto;
}

/*//////MESSAGES HOME//////*/
.header-messages {
    background-color: #10a236;
}

.box-child {
    background-color: #f6f6f6;
}

.box-messages .box-child ul li {
    position: relative;
    padding-left: 65px;
}
.box-messages .box-child ul li p {
    margin: 0;
}
.box-messages .box-child .badge {
    background: #fff;
    color: #10a236;
    font-size: 14px;
    padding: 7px 4px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    margin-top: 2px;
    width: 25px;
    height: 25px;
}

.msg-label {
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    background: #939598;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -18px;
    padding-top: 9px;
}

.msg-unread {
    font-weight: bold;
}

/*//////EVENTS HOME//////*/
#datepicker {
    min-height: 300px;
}
.ui-datepicker-header {
    color: #fff;
    text-align: center;
    padding: 25px 0 5px;
}
.ui-datepicker-header h2 {
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -26px;
}
.ui-datepicker-header span {
    text-transform: uppercase;
}
table.ui-datepicker-calendar {
    width: 90%;
    margin: 5px 5% 20px 5%;
    font-size: 16px;
    text-align: center;
}
table.ui-datepicker-calendar td, table.ui-datepicker-calendar th {
    text-align: center;
    padding: 5px 0;
}
table.ui-datepicker-calendar .ui-datepicker-week-end {
    background: #dfdddd;
}
table.ui-datepicker-calendar td a, table.ui-datepicker-calendar th a {
    color: #414042;
}
table.ui-datepicker-calendar .ui-datepicker-other-month {
    color: #dcdcdc;
}
table.ui-datepicker-calendar .ui-datepicker-week-end.ui-datepicker-other-month {
    color: #c4c4c4;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-datepicker-calendar .ui-datepicker-has-event a {
    background-color: #9752a3;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 2px 5px;
}
table.ui-datepicker-calendar td a.ui-state-highlight {
    color: #fff;
}

.table-events {
    border-width: 1px 0 0;
}
.table-events td {
    padding: 13px 15px !important;
}
.table-events td:first-child {
    font-weight: normal;
    text-align: left;
}
.table-events td:last-child {
    vertical-align: middle;
}

/*//////MESSAGES HOME//////*/
.header-messages {
    background-color: #10a236;
}

.messages-home ul li {
    position: relative;
    padding-left: 65px;
}
.messages-home ul li p {
    margin: 0;
}
.messages-home .badge {
    background: #fff;
    color: #10a236;
    font-size: 14px;
    padding: 7px 4px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 2px;
    width: 25px;
    height: 25px;
}

.label-message {
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    background: #939598;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -18px;
    padding-top: 9px;
}

.msg-unread {
    font-weight: bold;
}

/*//////HOMEWORK HOME//////*/
.header-homework {
    background-color: #FF9E19;
}

.homework-home ul li {
    position: relative;
    padding-left: 45px;
}
.homework-home  ul li p {
    margin: 0;
}
.icheckbox_flat-yellow {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -10px !important;
}

/*//////USER PROFILE//////*/
.user-profile {
    width: 80%;
    margin: 0 auto;
}
.tb-user {
    float: left;
    margin-right: 10px;
}
.tb-user img {
    border: #d5d5d5 solid 1px;
}
.name-school {
    font-size: 11px;
    margin-bottom: 13px;
}
.btn-profile, .btn-logout {
    font-size: 12px;
    color: #4d4d4f;
    margin-right: 10px;
}
.icon-user,
.icon-off {
    margin-right:1px;
}
.icon-user {
    color: #0ba6d3;
}
.icon-off {
    color: #dc3b42;
}

/*//////FORM ITENS // INNPUT, SELECT, TEXT-AREA//////*/
.form-search {
    position: relative;
}
.form-control, input[type='text'] {
    width: 95%;
    height: 45px;
    margin: 20px 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #a2a2a2;
    border: solid 1px #f2f2f2;
}
.form-control:focus {
    border-color: #f7941e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 148, 30, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 148, 40, 0.6);
}
.form-event .form-control:focus {
    border-color: #9752a3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9752a3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9752a3;
}

div.uploader {
    margin: 15px 0 !important;
}

/*//////SEARCH//////*/
.btn-search {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 13px;
    right: 20px;
    border: none;
    background: none;
}

/*/DEFAULT COLORS AND BACKGROUND // CALENDAR/EVENTS/*/
.cl-evt {
    /*text color*/
}
.bg-evt {
    background: #9752a3; /*background color*/
}
.bg-evt:hover {
    background: #5a2a60;
}
/*.bdr-evt:hover, bdr-evt:focus, .form-control.bdr-evt:hover, .form-control.bdr-evt:focus {
    border-color: #9752a3;
    
}*/
.bdr-evt, .form-control.bdr-evt {
    border-color: #f2f2f2;
}


/*//////HOME WORK PAGE//////*/
/*/DEFAULT COLORS AND BACKGROUND // HOMEWORK/*/
.cl-hwk {
    color: #ff9e19; /*text color*/
}
.bg-hwk {
    background: #ff9e19; /*background color*/
}
.bg-hwk-hv:hover {
    background: #f47920; /*background hover color*/
}
.bdr-hwk {
    border-color: #ff9e19/*border color*/
}
.nav-homework ul li a {
    width: 25%;
    height: 60px;
    float: left;
    background-color: #ff9e19;
    text-align: center;
    font-size: 18px;
    padding: 18px 0 0;
    font-weight: 300;
}

.nav-homework ul li a {
    color: #fff;
}
.nav-homework ul li a:hover {
    text-decoration: none;
    border-bottom: #a30c00 solid 5px;
    background-color: #a30c00;
}
.nav-homework ul li.bt-new a {
    border-bottom: #a30c00 solid 5px;
    background-color: #a30c00;
    background-position: 50px -1125px;
    padding-left: 30px;
}

.nav-homework ul li.bt-new :hover {
    border-bottom: #760900 solid 5px;
    background-color: #760900;
}

.nav-homework.status-0 .bt-to-do a {
    border-bottom: #a30c00 solid 5px;
}

.nav-homework.status-0 .bt-to-do :hover {
    border-bottom: #760900 solid 5px;
}

.nav-homework.status-1 .bt-in-progress a {
    border-bottom: #a30c00 solid 5px;
}

.nav-homework.status-1 .bt-in-progress :hover {
    border-bottom: #760900 solid 5px;
}

.nav-homework.status-2 .bt-complete a {
    border-bottom: #a30c00 solid 5px;
}

.nav-homework.status02 .bt-complete :hover {
    border-bottom: #760900 solid 5px;
}
.table.table-homework thead > tr > th {
    border-bottom: none;
    vertical-align: bottom;
    background-color: #eceded;
}

.table-homework .btn-icon {
    background-color: #ff9e19;
}
.table-homework .btn-icon:hover, .table-homework .btn-remove.btn-icon:hover, .table-homework .btn-submit.btn-icon:hover {
    background-color: #F47920;
    cursor: pointer;
}
.table-homework .btn-edit, .table-homework .btn-review, .table-homework .btn-submit, .table-homework .btn-pending {
    display: none;
    background-color: #ff9e19
}

.table-homework .to-do .btn-pending, .table-homework .in-progress .btn-edit, .table-homework .in-progress .btn-submit, .table-homework .complete .btn-review, .table-homework .reviewed .btn-review {
    display: inherit;
}
.table-homework .tooltip-inner {
    background-color: #ff9e19;
    margin-right: 5px;
}

.table-homework .tooltip.top .tooltip-arrow, .table-homework .btn-download {
    border-top-color: #ff9e19;
}
.table-homework .collapse td, .table-homework .collapsing td, .table-homework .in td {
    border-top: none;
    background-color: #FFF9F0;
    padding: 10px 50px 10px 220px;
}

.homework-header {
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 0;
}
.homework-header:hover {
    color: #fff;
    background-color: #FF9E19;
    padding-left: 20px;
}

.homework-subheader {
    font-weight: 100;
    padding: 10px 0 10px 0;
    font-size: 20px;
    margin: 0;
}

.note-editor {
    border: 2px solid #eceded;
}

/*///////////SummerNote overwrites//*/
.note-editor .btn-toolbar.note-toolbar {
    margin-top: 0px;
    padding: 5px, 0;
}

.modal-homework .modal-title {
    border-left-color: #ff9e19
}

.modal-homework select {
    width: 95%;
    margin: 10px 0;
    background-color: #fff;
}

/*//////NOTICES PAGE//////*/
.notice-page .note div {
    border: solid 1px #cad3e2;
    padding: 20px;
    margin: 0 0 10px;
    color: #6d6e71;
    min-height: 230px;
}
.notice-page .note .message {
    color: #6d6e71;
    font-weight: 100;
}
.notice-page .note-lvl1 div, .notice-page .note-lvl2 div {
    min-height: 460px;
}
.notice-page .note div img {
    max-width: 90%;
    height: auto;
    margin: 10% auto 0;
    display: block;
}

.notice-page h2, .notice-page h3, .notice-page h4 {
    color: #0ba6d3;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice-page .author {
    float: right;
}

/*//////TIMETABLE HOME//////*/
.header-timetable {
    background-color: #dc3b42;
}
.header-navigation {
    background-color: #e27176;
    padding: 10px;
    position: relative;
}
.header-navigation h3 {
    font-size: 14px;
    margin: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.table.table-timetable.none {
    text-align: center;
    font-size: large;
}


/*//////TIMETABLE PAGE//////*/
.table.table-timetable {
    table-layout: fixed;
}

.table.table-timetable th {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    background-color: #e27176;
    vertical-align: middle;
    padding: 10px;
    border-right: #fb7f84 1px solid;
    height: 50px;
    cursor: pointer;
}
.nav-timetable {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #e5242d;
    position: relative;
    height: 60px;
    padding: 20px 0 0;
    text-align: center;
}
.nav-timetable-btn-prev span, .nav-timetable-btn-next span {
    background: none;
    cursor: pointer;
    height: 30px;
    left: 15px;
    position: absolute;
    width: 40px;
    font-size: 36px;
    color: #fff;
    margin: -6px 0 0;
}
.nav-timetable-btn-next span {
    left: 100%;
    margin-left: -50px;
    background-position: -530px -520px;
}
.nav-timetable-title  h2 {
    font-size: 24px;
    font-weight: 100;
    color: #fff;
    margin: 0;
}

.table.table-timetable.day {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    padding: 0;
    border: #d1d3d4 solid 1px;
    border-top: 0;
    font-size: 12px;
}
.table.table-timetable.day > tbody > tr.active > td, .table.table-timetable.day tr.active, .table tr.active td {
    background-color: #e6e7e8;
}
.table.table-timetable.day > tbody > tr.active td:first-child {
    border: #d1d3d4 solid;
    border-width: 2px 1px 2px 2px
}
.table.table-timetable.day > tbody > tr.active td:last-child {
    border: #d1d3d4 solid;
    border-width: 2px 2px 2px 0;
}
.table.table-timetable.day td:first-child {
    border-right: solid 1px #dcddde;
    font-weight: bold;
    text-align: center;
}
.table.table-timetable.day tr:hover {
    background-color: #f0f2f2;
}

.table.table-timetable td span {
    display: block;
    text-align: center;
}

.table.table-timetable td span:nth-child(1) {
    
}

.table.table-timetable td span:nth-child(2) {
    font-size: 12px;
}

.table.table-timetable td span:nth-child(3) {
    font-size: 10px;
}



/*//////DATEPICKER//////*/
#datepicker {
    min-height: 300px;
}
.ui-datepicker {
    background-color: #fff;
}
.ui-datepicker-header {
    color: #fff;
    text-align: center;
    padding: 17px 0 13px;
    min-width: 230px;
}
#dashboard-events-box .ui-datepicker-header {
    background-color: #9752a3;
}
#ui-datepicker-div .ui-datepicker-header {
    background-color: #ff9e19;
}
#ui-datepicker-div.event-page .ui-datepicker-header {
    background-color: #9752a3;
}
#ui-datepicker-div.datepicker-note .ui-datepicker-header {
    background-color: #0ba6d3;
}

.ui-datepicker-header h2 {
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -26px;
    cursor: pointer;
}
.ui-datepicker-header span {
    text-transform: uppercase;
}
table.ui-datepicker-calendar {
    width: 100%;
    margin: 0;
    font-size: 16px;
    text-align: center;
}
table.ui-datepicker-calendar td, table.ui-datepicker-calendar th {
    text-align: center;
    padding: 5px 0;
}
table.ui-datepicker-calendar td.ui-state-disabled {
    background-color: #ffffff;
}
table.ui-datepicker-calendar td a {
    background-color: #e6e6e6;
    border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 2px 5px;
}
table.ui-datepicker-calendar .ui-state-disabled.ui-datepicker-week-end {
    background: #dfdddd;
}
table.ui-datepicker-calendar td a, table.ui-datepicker-calendar th a {
    color: #414042;
}
table.ui-datepicker-calendar .ui-datepicker-other-month {
    color: #dcdcdc;
}
table.ui-datepicker-calendar .ui-datepicker-week-end.ui-datepicker-other-month {
    color: #dfdddd;
}
.ui-state-highlight span, .ui-state-highlight a, .ui-datepicker-today span, .ui-datepicker-today a {
    border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 2px 5px;
    color: #fff;
}

.ui-state-highlight span, .ui-state-highlight a {
    background-color: #9752a3;
}
.ui-datepicker-today span, .ui-datepicker-today a {
    background-color: #ff9e19;
}
.event-page .ui-datepicker-today span, #dashboard-events-box .ui-datepicker-today span, #dashboard-events-box .ui-datepicker-today a {
    background-color: #9752a3;
}
.datepicker-note .ui-datepicker-today span {
    background-color: #0ba6d3;
}

#due-times input {
    margin-right: 10px;
}

table.ui-datepicker-calendar td a.ui-state-highlight {
    color: #fff;
}

/*///////////////DASHBOARD/////////////*/
.box {
    position: relative;
/* background-color: #f6f6f6;
 border-radius: 0 0 5px 5px;
 -moz-border-radius: 0 0 5px 5px;
 */ float: left;
    overflow: hidden;
    height: 375px
}


.box-home {
    background-color: #f6f6f6;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.box-child {
    width: auto;
    height: 100%
}

.box-notices .box-child, .box-homework .box-child {
    height: 335px;
    overflow-y: auto;
}

.box-homework .box-child ul {
    padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .box {
        width: 99%;
        margin-bottom: 15px;
        height: auto;
    }
    .box:nth-child(1) {
        height: 500px;
    }
}
@media screen and (min-width: 768px) {
    .box:nth-child(1) {
        width: 66%;
        height: 500px;
        margin: 0 5px 0px 0;
    }
    
    .box:nth-child(2) {
        width: 33%;
        height: 375px;
        margin-bottom: 15px;
    }

    .box:nth-child(3) {
        width: 33%;
        height: 500px;
    }

    .box:nth-child(4) {
        width: 32.9%;
        margin-top: -374px;
        height: auto;
    }

    .box:nth-child(5) {
        width: 32.5%;
        margin: 0px 5px 5px 5px;
        margin-top: -374px;
        height: auto;
    }
}

/* @media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}*/


#dashboard-timetable .table-timetable {
    max-height: 400px;
    border-radius: 0;
}
#dashboard-timetable .table-timetable td {
    padding: 11px 15px;
}

    /*Homework*/

#dashboard-homework > ul li {
    padding-left: 5px;
}

#dashboard-homework > ul li > p {
    margin: 0px;
    display: inline-block;
    margin-left: 5px;
}

#dashboard-homework > ul li > a{
    display: inline-block;
    line-height: 20px;
}

    /*events*/
#dashboard-events .table-events {
    border-width: 1px 0 0;
    table-layout: fixed;
}
#dashboard-events .table-events td {
    padding: 13px 15px !important;
}
#dashboard-events .table-events td:first-child {
    font-weight: normal;
    text-align: left;
    border-right: 1px solid #D1D3D4;
}
#dashboard-events .table-events td:last-child {
    vertical-align: middle;
    font-weight: bold;
}


/*Paginator - Defatul - Pls change color for any section*/
.paginator {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.paginator li {
    float: left;
}
.paginator a {
    margin: 0 2px;
}
.paginator a, .pageList .this-page {
    padding: 2px 6px;
    text-decoration: none;
}
.paginator a:hover, .paginator li:hover {
    text-decoration: none;
    background: none;
}
.paginator a:visited {
    padding: 2px 6px;
    text-decoration: none;
}
.paginator .AtStart {
    margin-right: 20px;
    padding: 2px 6px;
    color: #aaa;
}
.paginator .Prev {
    margin-right: 20px;
    padding: 2px 6px;
    color: #eaedee;
}
.paginator .break {
    padding: 2px 6px;
    border: none;
    background: #fff;
    text-decoration: none;
}
.paginator .Next {
    margin-left: 20px;
    padding: 2px 6px;
    color: #eaedee;
}
.paginator .AtEnd {
    margin-left: 20px;
    padding: 2px 6px;
    color: #aaa;
}
.paginator .this-page {
    padding: 2px 10px;
    font-weight: bold;
    vertical-align: top;
}

/*Homework section*/
.paginator.homework a {
    color: #ff9e19;
}
.paginator.homework .this-page a {
    color: #fff;
    background-color: #a30c00;
}

/*Login Page*/
#login {
    background: #f3f5f8;
}
.jumbotron {
    height: 100px;
    padding: 0;
    background-color: #fff;
    margin-bottom: 55px;
}
.schoolbag-brand-login {
    margin: 25px 0 0 30px;
    display: block;
}

.col-block-images img {
    float: right;
    margin: 0 0 10px 10px;
}
.block1 {
    width: 25%;
    float: right;
    padding-right: 5%;
}
.block2 {
    width: 18.5%;
    float: right;
    padding-right: 5%;
}
.block3 {
    width: 30%;
    float: right;
}
.block4 {
    width: 16.5%;
    float: right;
}
.btn-login {
    background-color: #f7941e;
}
.col-block-images {
    padding-right: 25px;
}
.col-login {
    padding-left: 25px;
}


/*/DEFAULT COLORS AND BACKGROUND // HOMEWORK/*/
/*****DASHBOARD*********/
.dash-brd-hv:hover {
    background-color: #f0f2f2;
}

/*//////EVENTS PAGE//////*/
/*/DEFAULT COLORS AND BACKGROUND // HOMEWORK/*/
.cl-event {
    color: #9752a3; /*text color*/
}
.bg-event {
    background: #9752a3; !important/*background color*/
}
.bg-event-hv:hover {
    background: #5a2a60; /*background hover color*/
}
.bdr-event {
    border-color: #9752a3/*border color*/
}

/*//////NOTICE PAGE//////*/
.cl-notice {
    color: #9752a3; /*text color*/
}
.bg-notice {
    background: #0ba6d3; !important/*background color*/
}
.bg-notice-hv:hover {
    background: #0ba6d3; /*background hover color*/
}
.bdr-notice {
    border-color: #0ba6d3;/*border color*/
}

.frm-notice .uploader .action {
    background-color: #0ba6d3;
}

.frm-notice .radio-box {
    width: 95%;
    margin: 20px 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #A2A2A2;
    border: solid 1px #F2F2F2;
}

.frm-notice .radio-box label {
    font-weight: normal;
}


/********************************************************************
****************Default styles by section****************************
*********************************************************************/
/*//////MODAL//////*/

.modal-timetable .modal-title {
    border-left-color: #dc3b42;
}

/*/////FORMS/////*/

.form-timetable .btn {
    background-color: #dc3b42;
}

.form-timetable .btn:focus{
    background-color: #db3a41;
}


