.timetable .header-navigation {
    padding: 12px;
    position: relative;
}
.timetable .header-navigation h3 {
    font-size: 14px;
    margin: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.timetable .nav {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #e5242d;
    position: relative;
    height: 60px;
    padding: 20px 0 0;
    text-align: center;
}
.timetable .nav .btn-prev span, .timetable .nav .btn-next span {
    background: none;
    cursor: pointer;
    height: 30px;
    left: 15px;
    position: absolute;
    width: 40px;
    font-size: 36px;
    color: #fff;
    margin: -6px 0 0;
}
.timetable .nav .btn-next span {
    left: 100%;
    margin-left: -50px;
    background-position: -530px -520px;
}
.timetable .nav .title  h2 {
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.timetable .table {
    table-layout: fixed;
}

.timetable .table th {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    background-color: #e27176;
    vertical-align: middle;
    padding: 10px;
    border-right: #fb7f84 1px solid;
    height: 50px;
    cursor: pointer;
}

#dashboard-timetable-contents .table {
    max-height: 400px;
    border-radius: 0;
}
#dashboard-timetable-contents .table td {
    padding: 11px 15px;
}

.timetable .table.day {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    padding: 0;
    border: #d1d3d4 solid 1px;
    border-top: 0;
    font-size: 12px;
}
.timetable .table.day > tbody > tr.active > td, .timetable .table.day tr.active, .table tr.active td {
    background-color: #e6e7e8;
}
.timetable .table.day > tbody > tr.active td:first-child {
    border: #d1d3d4 solid;
    border-width: 2px 1px 2px 2px
}
.timetable .table.day > tbody > tr.active td:last-child {
    border: #d1d3d4 solid;
    border-width: 2px 2px 2px 0;
}
.timetable .table.day td:first-child {
    border-right: solid 1px #dcddde;
    font-weight: bold;
    text-align: center;
}
.timetable .table.day tr:hover {
    background-color: #f0f2f2;
}

.timetable .table td span {
    display: block;
    text-align: center;
}

.timetable .table td span:nth-child(1) {
    
}

.timetable .table td span:nth-child(2) {
    font-size: 12px;
}

.timetable .table td span:nth-child(3) {
    font-size: 10px;
}


.timetable .table td {
    position: relative;
}

.timetable .table.edit td span.cell-icon, .timetable .table td.edit span.cell-icon {
    display: inline;
}

.timetable .table span.cell-icon {
    display: none;
    line-height: 21px;
    background: red;
    float: right;
    position: absolute;
    top: 20px;
    right: 10px;
}

.timetable .table.table-condensed th {
    background-color: #e5242d;
    cursor: default;
}

.timetable .table.none {
    text-align: center;
    font-size: large;
}

.teacher .timetable .table.week tr:hover{
    background-color: transparent;
}

.teacher .timetable .table.week td:hover{
    background-color: #f0f2f2;
}

.teacher .timetable .table.week td .subject {
    color: blue;
    cursor: pointer;
    margin: 3%;
}



