.viridian header, .viridian .btn-icon, .viridian .btn, .viridian.ld-box .ld-box-head .title, .viridian .tooltip-inner, .viridian.ld-timetable .header-navigation, .viridian .uploader .action {
    background-color: #438c76;
}

.viridian a {
    color: #438c76;
}
.viridian.btn-icon:hover, .viridian .btn:hover {
    background-color: #438c76;
}
.viridian .form-control:focus, .viridian input:focus, .viridian textarea:focus {
    border-color: #438c76;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(67, 140, 118, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(67, 140, 118, 0.6);
}
.viridian .modal-title {
    border-color: #438c76;
}
.viridian .tooltip.top .tooltip-arrow {
    border-top-color: #438c76;
}

/* Checkbox */
.viridian div.ld-CheckClass span {
    background-position: 0 -470px;
}
.viridian div.ld-CheckClass span.checked {
    background-position: -30px -470px;
}
.viridian div.ld-CheckClass.hover span {
    background-position: -60px -470px;
}
.viridian div.ld-CheckClass.hover span.checked {
    background-position: -30px -470px;
}

/* Radio */
.viridian div.ld-RadioClass span {
    background-position: 0 -500px;
}
.viridian div.ld-RadioClass span.checked {
    background-position: -30px -500px;
}
.viridian div.ld-RadioClass.hover span {
    background-position: -60px -500px;
}
.viridian div.ld-RadioClass.hover span.checked {
    background-position: 0 -500px;
}